<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <img src="login1.png"/><br/>
        <form id="flogin">
            <label id="llogin" for="login">LOGIN</label> <input type="text" id="login" size="30" maxlength="10" placeholder="Digite seu login"/><br/></br/>
            <label id="lsenha" for="senha">SENHA</label> <input type="password" id="senha" size="30" maxlength="8" placeholder="Digite sua senha"/><br/><br/>
            <a href="https://www.captec.tecnologia.ws/"> <button type="button" id="blogin">LOGIN</button></a>
        </form>
    </body>
</html>